<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="OFF" monitorInterval="120">

    <Properties>
        <property name="LOG_HOME">${log.home}</property>
        <property name="LOG_FILE_SIZE">10MB</property>
        <property name="HIS_COUNT">${log.maxhis:-1000}</property>
        <property name="LOG_PATTERN_LAYOUT">%d{yyyyMMdd.HHmmss.SSS} %-5level - %X{traceToken} %m [%thread %logger{36}:%line]%n</property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <ThresholdFilter level="DEBUG" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${LOG_PATTERN_LAYOUT}"/>
        </Console>
        <Console name="ConsoleError" target="SYSTEM_ERR">
            <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${LOG_PATTERN_LAYOUT}"/>
        </Console>

        <RollingFile
                name="errorAppender"
                fileName="${LOG_HOME}/${date:yyyyMMdd}/error.log"
                filePattern="${LOG_HOME}/$${date:yyyyMMdd}/error%d{yyyyMMdd}.%i.log">
            <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${LOG_PATTERN_LAYOUT}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
                <SizeBasedTriggeringPolicy size="${LOG_FILE_SIZE}"/>
                <OnStartupTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy max="${HIS_COUNT}"/>
        </RollingFile>

        <RollingFile
                name="mainAppender"
                fileName="${LOG_HOME}/${date:yyyyMMdd}/main.log"
                filePattern="${LOG_HOME}/$${date:yyyyMMdd}/main%d{yyyyMMdd}.%i.log">
            <ThresholdFilter level="DEBUG" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${LOG_PATTERN_LAYOUT}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
                <SizeBasedTriggeringPolicy size="${LOG_FILE_SIZE}"/>
                <OnStartupTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy max="${HIS_COUNT}"/>
        </RollingFile>

        <RollingFile name="traceAppender"
                     immediateFlush="true"
                     fileName="${LOG_HOME}/${date:yyyyMMdd}/trace.log"
                     filePattern="${LOG_HOME}/$${date:yyyyMMdd}/trace%d{yyyyMMdd}.%i.log">
            <PatternLayout pattern="${LOG_PATTERN_LAYOUT}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
                <SizeBasedTriggeringPolicy size="${LOG_FILE_SIZE}"/>
                <OnStartupTriggeringPolicy/>
            </Policies>
            <Filters>
                <ThresholdFilter level="DEBUG" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="TRACE" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <DefaultRolloverStrategy max="${HIS_COUNT}"/>
        </RollingFile>

        <RollingFile
                name="debugAppender"
                fileName="${LOG_HOME}/${date:yyyyMMdd}/debug.log"
                filePattern="${LOG_HOME}/$${date:yyyyMMdd}/debug%d{yyyyMMdd}.%i.log">
            <PatternLayout pattern="${LOG_PATTERN_LAYOUT}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
                <SizeBasedTriggeringPolicy size="${LOG_FILE_SIZE}"/>
                <OnStartupTriggeringPolicy/>
            </Policies>
            <Filters>
                <ThresholdFilter level="DEBUG" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <DefaultRolloverStrategy max="${HIS_COUNT}"/>
        </RollingFile>

    </Appenders>

    <Loggers>
        <AsyncLogger name="org.springframework" level="INFO" />
        <AsyncLogger name="org.apache.ibatis.jdbc" level="WARN" />
        <AsyncLogger name="org.apache.activemq.transport.AbstractInactivityMonitor" level="WARN" additivity="false"/>

        <AsyncLogger name="com.resms.ssm" level="DEBUG" />

        <Logger name="SQLLog" level="DEBUG" additivity="false">
            <AppenderRef ref="mainAppender"/>
        </Logger>

        <Root level="TRACE" includeLocation="true">
            <AppenderRef ref="Console" />
            <AppenderRef ref="ConsoleError"/>
            <AppenderRef ref="traceAppender" level="TRACE"/>
            <AppenderRef ref="debugAppender"/>
            <AppenderRef ref="mainAppender"/>
            <AppenderRef ref="errorAppender" />
        </Root>
    </Loggers>
</Configuration>